#footer {
  margin-top: 32px;
  font-size: 32px;
  padding-top: 32px;
  padding-bottom: 64px;
  border-top: solid;
  border-top-width: 1px;
  background-color: beige;
}
.center {
  text-align: center;
}